@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 248 250 252;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
}

::selection {
  background: rgba(59, 130, 246, 0.25);
}
